@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

@font-face {
    font-family: 'SDSwaggerTTF';
    src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/SDSwagger/SDSwaggerTTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}