<footer class="footer">
  <div class="footer__container">
    <div class="footer__logo">
      <img src="https://raw.githubusercontent.com/odada-o/coffee-sisters/b8efa4642e1f7f7580de357eee5935cb2eeb8e45/resources/images/pattern/common/logo.svg" alt="커피-시스터즈 로고">
      <p class="footer__slogan">당신의 모든 날을, 커피-시스터즈가 응원합니다.</p>
    </div>
    
    <div class="footer__content">
      <div class="footer__info">
        <h3>회사 정보</h3>
        <ul>
          <li>상호명: 커피-시스터즈</li>
          <li>대표: 홍길동</li>
          <li>사업자등록번호: 123-45-67890</li>
          <li>주소: 광주광역시 서구 상무대로 123</li>
        </ul>
      </div>
      
      <div class="footer__contact">
        <h3>연락처</h3> 
        <ul>
          <li><a href="tel:010-1234-5678"><i class="fa-solid fa-mobile-screen"></i> 010-1234-5678</a></li>
          <li><a href="mailto:coffee@sisters.co.kr"><i class="fa-solid fa-at"></i> coffee@sisters.co.kr</a></li>
          <li><a href="@coffeesisters"><i class="fa-solid fa-comment"></i> 카카오톡: @coffeesisters</a></li>
        </ul>
      </div>
      
      <div class="footer__social">
        <h3>SNS</h3>
        <div class="footer__social-icons">
          <a href="https://blog.naver.com/skm1424" aria-label="인스타그램" target="_blank">
            <img src="../../resources/images/pattern/common/sns-insta@1x.png" alt="인스타그램">
          </a>
          <a href="https://www.instagram.com/coffee_sisters20/" aria-label="블로그" target="_blank">
            <img src="../../resources/images/pattern/common/sns-blog@1x.png" alt="네이버 블로그">
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer__bottom">
    <p class="footer__copyright">© 2025 커피-시스터즈. All Rights Reserved.</p>
    <!-- <div class="footer__terms">
      <a href="#">이용약관</a>
      <span class="divider">|</span>
      <a href="#">개인정보처리방침</a>
    </div> -->
  </div>
</footer>